@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --body-bg-color: #eeeeee;
  --div-bg-color: #fa815b;
  --div-bg-color-two: #eaebec;
  --font-color: #59423c;
  --font-color-two: #515472;
  --orange-color: #f36437;
  --shadow: 0px 0px 3px #d1d1d1;
}

/* BODY */
body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  margin: 0;
}

body a {
  text-decoration: none;
  color: var(--font-color);
}

/* CONTAINER */
.container {
  width: 65%;
  min-height: calc(100vh - 30px);
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0 30px;
  box-shadow: var(--shadow);
}

/* HEADER */
.header {
  height: 70px;
  width: 100%;
  display: flex;
}

.header .header-logo {
  margin: auto 0 0 0;
}

.header .header-logo_primary {
  background-color: var(--orange-color);
  height: 25px;
  padding: 5px;
  border-radius: 7px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-logo_primary-left {
  font-weight: 900;
}

.header .header-logo_primary-right {
  font-weight: 200;
}

.header .header-logo_secondary {
  font-size: 13px;
  display: block;
  width: fit-content;
  margin: auto;
}

.header .header-links {
  margin: auto;
}

.header .header-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.header .header-links ul li {
  padding: 0 10px;
  font-weight: 500;
}

.header .header_user {
  position: relative;
}

.header .header_user-profile_wrapper {
  position: absolute;
  display: none;
  right: 0;
  width: 200px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: var(--shadow);
  top: 41px;
}

.header .header_user-profile_wrapper .header_user-profile {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.header .header_user-profile_wrapper .header_user-profile::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  top: -6px;
  right: 10px;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  transform: rotate(-45deg);
}

.header
  .header_user-profile_wrapper
  .header_user-profile
  .header_user-profile-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}
.header
  .header_user-profile_wrapper
  .header_user-profile
  .header_user-profile-info
  .fa-user-circle {
  font-size: 50px;
  display: block;
  margin: auto;
}

.header .header_user-profile .header_user-profile_links {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}

.header
  .header_user-profile
  .header_user-profile_links
  .header_user-profile_link {
  width: fit-content;
  margin: auto;
}

.header .header_user-links {
  height: fit-content;
  margin: auto 0;
  display: flex;
}

.header .header_user-links .header_user-link {
  height: 30px;
  width: 30px;
  margin: 2px;
  background-color: var(--orange-color);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header .header_user-links .header_user-link i {
  padding: 5px;
}

.header .header_user-links .header_lang-selector {
  height: 30px;
  width: 30px;
  appearance: none;
  text-align: center;
  border-radius: 7px;
  margin: 2px;
}

.header .header_user-links .header_lang-selector:focus {
  outline: none;
}

.header .header_user-links .header_user-link i {
  margin: auto;
  color: #ffffff;
}

/* BANNER */
.top-banner {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: var(--div-bg-color-two);
  border-radius: 10px;
  margin: 10px auto auto auto;
}

.top-banner .top-banner_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.top-banner .top-banner_left .top-banner_primary-text {
  margin: auto auto 0 auto;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 35px;
  font-weight: 600;
}

.top-banner .top-banner_left .top-banner_secondary-text {
  margin: 0 auto auto auto;
  padding: 10px;
  text-align: center;
  display: block;
}

.top-banner .top-banner_left .top-banner_order-btn {
  border-radius: 7px;
  border: none;
  background-color: var(--orange-color);
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.top-banner .top-banner_right {
  margin: auto;
}

.top-banner .top-banner_right .top-banner-img {
  height: 300px;
  width: 400px;
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-closetclosetalmirahsnuggerycabinet-17015279228556v1ly.png');
  background-size: cover;
}

/* CATEGORIES */
.categories .categories-header {
  display: block;
  width: fit-content;
  margin: 18px auto;
  position: relative;
}

.categories .categories-header::after {
  position: absolute;
  content: '';
  height: 7px;
  width: 100%;
  bottom: -10px;
  left: 0;
  background-color: var(--orange-color);
}

.categories .categories-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories .categories-list .category {
  min-width: 30%;
  height: 200px;
  flex: 1 1 auto;
  box-shadow: var(--shadow);
  border-radius: 7px;
  background-color: var(--div-bg-color-two);
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;
}

.categories .categories-list .category .category-header {
  z-index: 1;
  background-color: var(--orange-color);
  padding: 5px;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.categories .categories-list .category .category-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

/* CONTENT */
.content {
  min-height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
}

/* CALL BACK */
.callback {
  width: 60%;
  height: 120px;
  background-color: var(--div-bg-color);
  color: #ffffff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.callback .callback-header {
  font-size: 30px;
  font-weight: 600;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 0 0 0;
}

.callback form {
  width: fit-content;
  margin: auto;
}

.callback form input {
  height: 30px;
  border-radius: 7px;
  border: none;
}

.callback form input:focus {
  outline: none;
}

/* FOOTER */
.footer {
  height: 150px;
  display: flex;
}

.footer .footer-left {
  margin: auto auto 20px 0;
}

.footer .footer-left .footer_social-links {
  display: flex;
  padding: 10px;
}

.footer .footer-left .footer_social-links .footer_social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  height: 22px;
  width: 22px;
}

.footer .footer-right {
  margin: auto 0 20px auto;
  display: flex;
  flex-direction: column;
}

.footer .footer-right .footer_nav-links-header {
  font-weight: bold;
  margin: 5px 0;
  font-size: 18px;
}

.footer .footer-right .footer_nav-links {
  display: flex;
  flex-direction: column;
}

.footer .footer-right .footer_nav-links .footer_nav-link {
  padding: 5px;
}

/* SIGN IN */
.signup-redirect {
  width: fit-content;
  margin: auto;
}

.signup-redirect .signup-link {
  color: var(--orange-color);
}

/* FORM */
.form-wrapper {
  width: fit-content;
  margin: auto;
}

.form-wrapper .form-header {
  margin: 10px auto;
  display: block;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.form .form-input {
  width: 245px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: var(--div-bg-color-two);
}

.form .form-input:focus {
  outline: none;
}

.form .form-submit {
  width: 255px;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: var(--div-bg-color);
  color: #ffffff;
  font-weight: 600;
}

.form .form-submit:hover {
  cursor: pointer;
}

.form input {
  margin: 5px;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 80% !important;
  }
}
